[submodule "Caesar cipher"]
	path = Caesar cipher
	url = https://github.com/ImMPrada/top_caesar_cipher
[submodule "Sub strings"]
	path = Sub strings
	url = https://github.com/ImMPrada/top_sub_strings
[submodule "Stock picker"]
	path = Stock picker
	url = https://github.com/ImMPrada/top_stock_picker
[submodule "Bubble sort"]
	path = Bubble sort
	url = https://github.com/ImMPrada/top_bubble_sort
