[submodule "fibonacci_recursive"]
	path = fibonacci_recursive
	url = git@github.com:ImMPrada/top_fibonacci.git
	branch = main
[submodule "bubble_sort"]
	path = bubble_sort
	url = git@github.com:ImMPrada/top_bubble_sort.git
	branch = main
[submodule "caesar_cipher"]
	path = caesar_cipher
	url = git@github.com:ImMPrada/top_caesar_cipher.git
	branch = main
[submodule "stock_picker"]
	path = stock_picker
	url = git@github.com:ImMPrada/top_stock_picker.git
	branch = main
[submodule "sub_strings"]
	path = sub_strings
	url = git@github.com:ImMPrada/top_sub_strings.git
	branch = main
[submodule "recursion"]
	path = recursion
	url = git@github.com:ImMPrada/top_recursion.git
	branch = main
[submodule "linked-lists"]
	path = linked-lists 
	url = git@github.com:microverse-students/lists-ImMPrada.git
	branch = main
[submodule "data_structures"]
	path = data_structures
	url = git@github.com:ImMPrada/data_structures.git
	branch = main
[submodule "stacks"]
	path = stacks
	url = git@github.com:microverse-students/stack-ImMPrada.git
	branch = main
[submodule "queue"]
	path = queue
	url = git@github.com:microverse-students/queue-ImMPrada.git
	branch = main
